@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat Brush", cursive;
    scroll-behavior: smooth;
}

.container-fluid{
    width: 100%;
}

.container-s {
    width: 100%;
}

.container-m {
    width: 100%;
    margin: auto;
}

.container-l {
    width: 100%;
    margin: auto;
}

.flex-md {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

li {
    list-style-type: none;;
}

img {
    width: 100%;
}

/************************** HEADER *************************/

header {
    background: url(/assests/img/planches.jpg);
}

header h1 {
    text-align: center;
    font-size: 2.5em;
}

hr {
    width: 115px;
    margin:  auto;
    margin-bottom: 25px;
    height: 7px;
    background-color: rgb(248, 69, 114);
    border: none;
}

header ul {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}

header ul li a {
    font-size: 1.6em;
    color: rgb(248, 69, 114);
    transition: all 0.8s ease-in;
}

header img {
    margin-bottom: 35px;
}

/******************************** FIRST SECTION **********************/

.tittle {
    margin: auto;
    text-align: center;
}

.caption {
    text-align: center;
    color: rgb(248, 69, 114);
}

.container-l p,
.container-s p,
.caption {
    font-size: 1.2em;
}

.img-container-l, .img-container-s {
    width: 80%;
    margin: 20px auto;
}

.img-container-l img, .img-container-s img {
    border-radius: 15px;
    box-shadow: 9px 4px 0px 2px rgba(165, 172, 224, 0.6);
}

/******************************** SECOND SECTION **********************/

.container-fluid p {
    padding: 15px;
}

/******************************** FOOTER ************************/

footer {
    background: url(/assests/img/motif.jpg);
}

.contact-container {
    text-align: center;
}

.icon-container {
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

i {
    color: rgb(248, 69, 114);
    font-size: 1.4em;
}

@media screen and (min-width: 768px){

    .container-fluid{
        width: 100%;
    }
    
    .container-m {
        width: 85%;
        margin: auto;
    }
    
    .container-s {
        width: 45%;
    }

    .container-l {
        width: 95%;
        margin: auto;
    }

/******************* HEADER **************/

    .img-container-header {
        width: 20%;
        margin: auto;
    }

/******************************** FIRST SECTION **********************/

    .img-container-l {
        width: 40%;
    }

    .img-container-s {
        width: 30%;
    }

    .container-l p,
    .container-s p,
    .container-fluid p,
    .caption {
        font-size: 1.3em;
    }

    .container-fluid p {
        text-align: center;
    }

    /******************************** FOOTER ************************/

    .footer-flex {
        display: flex;
        justify-content: space-around;
        padding: 15px;
    }

    i {
        margin: 0 15px;
    }
}